@model List<CityWeatherModel>
@{
    this.ViewBag.Title = "Weather";
}

<div class="margin-top-200 margin-left">
    <div class="flex">
        @foreach (CityWeatherModel city in this.Model)
        {
            <partial name="_CityPartial" model="city" />
        }
    </div>
</div>

